body{
background-color:#EFEFEF ;
}

.calenderGroup {
       
        border-radius: 10px;
        background-color: white;
       
        padding: 1%;
        
        justify-content: space-around;
       
       
        margin-bottom: 50px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}