

.eventspage{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 15px;
    justify-content: center;
    background-color: #f8f9fa;
    width: 100%;
    padding-bottom: 400px;
}

.addevent{
    margin-left: 40px;
    margin-top: 40px;
    position: fixed;
}
.event{
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    height: 400px;
    min-width: 350px;
    max-width: 550px;
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    padding-left: 40px;
    margin-bottom: 20px;

}
.eventdescription{
    height: 100px;
}
.joinSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.btn-sml{
    width: 60px;
}
.eventmembers{
    display: flex;
    gap: 5px;
    margin-top: -25px;
}
.posts{
    display: flex;
    gap: 5px;
    margin-top: -30px;
}
.events{
    display: flex;
    gap: 5px;
    margin-top: -60px;
}
.datepicker{
    border-radius: 5px;
    border: solid lightgray 1px;
    padding-left: 2%;
    padding-right: 30px;

}
