.eventspage{
    display: flex;
    overflow: scroll;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: #f8f9fa;

}

.event{
    margin-top: 100px;
    border-radius: 15px;
    background-color: white;
    height: 400px;
    min-width: 700px;
    padding-left: 40px;
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    margin-bottom: 40px;

}
.eventdescription{
    height: 100px;
}
.joinSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.btn-sml{
    width: 60px;
}
.eventmembers{
    display: flex;
    gap: 5px;
    margin-top: -25px;
}
.posts{
    display: flex;
    gap: 5px;
    margin-top: -30px;
}
.events{
    display: flex;
    gap: 5px;
    margin-top: -60px;
}

