

.groups{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 15px;
    min-height: fit-content;
    justify-content: center;
    background-color: #EFEFEF;
    padding-bottom: 1000px;
}

.addgroup{
    margin-left: 40px;
    margin-top: 40px;
    position: fixed;
}

.group{
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    height: 400px;
    min-width: 350px;
    max-width: 550px;
    display: flex;
    padding: 1%;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    padding-left: 40px;
    margin-bottom: 20px;

}
.joinSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.btn-sml{
    width: 60px;
}
.members{
    display: flex;
    gap: 5px;
    margin-top: -50px;
}
.posts{
    display: flex;
    gap: 5px;
    margin-top: -30px;
}
.events{
    display: flex;
    gap: 5px;
    margin-top: -60px;
}

.btn-secondary{
    background-color: #69a16b !important;
}
.btn-secondary:hover{
    background-color:#578458 !important;
}
.btn-danger{
    background-color:#CD5334 !important;
}
.btn-danger:hover{
    background-color:#9d3e27 !important;
}

.plusbutton{
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: large;
    margin-top: -5px;
    padding: 0px;
}

.addbuttoncustom{
    border-radius: 5px;
    color: white;
    padding: 5%;
    width:30px;
    padding-left: 9px;
    background-color: #69a16b !important;
}