.nav-link{
    cursor: pointer !important;
}
.navi{
    background-color:#EFEFEF;
    font-weight: bold;
    left: 0;
    right: 0;
    top:0;
    position: sticky;
}
.stickynavbar{
    background-color:#EFEFEF;
}

.links{
    font-size: larger;
}