[contentEditable=true]:empty {
    content: attr(data-text)
  }

.nameAndPicture{
    display: flex;
    justify-content: space-around;
}
.name{
    font-size: larger;
    font-weight: bold;
    resize: none;
    height: 35px;
    width: 350px;
    border: solid 3px white;
    border-radius: 5px;
    margin:30px;
}
.image{
    width: 150px;
    height: 150px;
}
.status{
    resize: none;
    width: 500px;
    height: 30px;
    border: solid 3px white;
    border-radius: 5px;
}
.status:empty::before {
    content: attr(data-placeholder);
}
.status:hover{
    cursor: pointer;
    border: solid 3px lightgrey;
}
.bio{
    margin-top: 30px;
    width: 500px;
    height: 200px;  
    resize: none;
    border: solid 3px white;
    border-radius: 5px;
}
.bio:hover{
    cursor: pointer;
    border: solid 3px lightgrey;
}
.funfact{
    resize: none;
    width: 500px;
    height: 30px;
    border: solid 3px white;
    border-radius: 5px;
}
.funfact:hover{
    cursor: pointer;
    border: solid 3px lightgrey;
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}