

.nameAndPicture{
    display: flex;
}
.name{
    font-size: larger;
    font-weight: bold;
    resize: none;
    height: 35px;
    width: 350px;
    border: solid 3px #EFEFEF;
    border-radius: 5px;
    margin:50px;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: blue;
}
.status{
    resize: none;
    width: 500px;
    height: 30px;
    border: solid 3px #f8f9fa;
    border-radius: 5px;
    margin-top: 20px;
}

.status:hover{
    cursor: pointer;
    border: solid 3px white;
    background-color: white;
}
.bio{
    margin-top: 30px;
    width: 500px;
    height: 200px;  
    resize: none;
    border: solid 3px #f8f9fa;
    border-radius: 5px;
}
.bio:hover{
    cursor: pointer;
    border: solid 3px white;
    background-color: white;
}
.funfact{
    resize: none;
    width: 500px;
    height: 30px;
    border: solid 3px #f8f9fa;
    border-radius: 5px;
}
.funfact:hover{
    cursor: pointer;
    border: solid 3px white;
    background-color: white;
}

.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 500px;
    background-color:#EFEFEF;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 800px;
}
.form {
    display: flex;
    justify-content: space-evenly;
}
.buttons{
    display: flex;
    gap:230px
}