
.dashboard{
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items:center;
    min-width: 1440px;

}
.topdashboard{
    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-width: 1440px;
    max-width: 1640px;
}
.bottomdashboard{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: -225px;
    min-height:2000px;
    min-width: 1440px;
    max-width: 1640px;
}
.profileview{
    background-color: white;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.btn-light{
    background-color: white !important;
    width: 750px;
    text-align: left;
    padding-left: 25px;
    border: solid 2px #d7d7d7;
}
.profileimage{
    
    width: 100px;
    height: 100px;
    border-radius: 75px;

}
.profileimage:hover{
    cursor: pointer;
}
.profilestatus{
    margin-top: -30px;
    color: rgb(149, 153, 149);
    font-size: smaller;
}
.profilelink{
    text-decoration: none;
    font-size: smaller;
    cursor: pointer;
    color:rgb(110, 156, 110);
    margin-top: -10px;
}
.post{
    padding-top:25px;
    padding-left:25px;
    background-color: white;
    width: 800px;
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;

}
.dashevent{
    background-color: white;
    width: 250px;
    margin-top: 50px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    min-height: 300px;
    max-height: fit-content;
    
}
.eventsection{
    margin-top: -7px;
    margin-bottom: 30px;
}
.eventtime{
    font-style: italic;
}
.eventdesc{
    margin-top: -40px;
}
.eventname{
    margin-top: -15px;
    font-family: bold;
}
.eventtitle{
    margin-bottom: 15px;
    font-weight: bold;
}
.sidenav{
    background-color: white;
    width: 250px;
    min-height: 100px;
    max-height: fit-content;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -50px;
}
.groupdescription{
    height: 30px;
}
.timeline{
    width: 800px;
    margin-top: -50px;
    border-radius: 10px;
    height: fit-content;
}
.timelineposts{
    padding-top: 25px;
    padding-left:25px;
    background-color: white;
    width: 800px;
    min-height: 60px;
    max-height: fit-content;
    margin-top: -20px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.postsinfo{
    font-style: italic;
    font-size: small;
    margin-top: -20px;
}
.underevent{
    margin-top: 25px;
    width: 250px;
    border-radius: 15px;
}
.eventnameandx{
    display: flex;
    justify-content: space-between;

}
.eventnameandx:hover{
    cursor: pointer;
}
.xevent{
    margin-top: -20px;
}
.posttitle{
    font-weight: bold;
    margin-top: -15px;
}
.groupsection{
    display: flex;
    justify-content: space-between;
    margin-top: -7px;
}
.grouptitle{
    margin-bottom: 20px;
    font-weight: bold;
}
.topicsection{
    display: flex;
    justify-content: space-between;
    margin-top: -7px;

}
.topicsection:hover{
    cursor: pointer;
}
.groupsection:hover{
    cursor: pointer;
}
.topictitle{
    margin-bottom: 15px;
    font-weight: bold;
}
.creategroupetimeline{
    display: flex;
    justify-content: space-between;
}
.calenderh3{
    margin-top: 25px;
    margin-left: 40px;
    
}
.calenderp{
    margin-left: 40px;
    text-decoration: none;
    font-size: smaller;
    cursor: pointer;
    color:rgb(110, 156, 110);
}
.names{
    height: px;
    
}
.names:hover{
    cursor: pointer;
}
.namelist{
    padding-top: 25px;
    max-height: 300px;
    overflow: scroll;
    min-height: fit-content;
}
