// Override default variables before the import
$body-bg: #000;

.btn-secondary{
    background-color:rgb(79, 144, 82) !important;
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


.stickynavbar{
    left: 0;
    right: 0;
    top:0;
    position: sticky;
}
