// Override default variables before the import
$body-bg: #000;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


.stickynavbar{
    left: 0;
    right: 0;
    top:0;
    position: sticky;
}
